@font-face {
  font-family: "IBM";
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
}
:root {
  --primary-text-color: #2f3840;
  --secondary-text-color: #fff;
  --bg-color: #080f20;
  --bg-color2: #017c70;
  --bg-heading-color: #0f172a;
  --unique-text-color: #61ce70;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM", sans-serif;
  color: var(--primary-text-color);
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo img {
  width: 150px;
}
a:hover,
a:active,
a:focus {
  color: var(--unique-text-color);
}
.container {
  margin: 0 auto;
  padding: 15px;
  color: var(--primary-text-color);
}
/* Start Header Style */
header {
  background-color: var(--bg-heading-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1000;
  gap: 20px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.navbar ul li {
  margin: 0 15px;
}
.navbar ul li a {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 17px;
  position: relative;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.navbar ul li a:hover {
  color: var(--unique-text-color);
  font-weight: 700;
  font-size: 18px;
  height: -1px;
  display: block;
  border-bottom: 3px solid var(--unique-text-color);
}
/* .navbar ul li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -7px;
  width: 0;
  height: 2px;
  background-color: var(--unique-text-color);
  transition: all 0.3s ease;
}
.navbar ul li a:hover::after {
  width: 100%;
} */

.cta button {
  background-color: var(--bg-color2);
  color: var(--secondary-text-color);
  border: 2px solid var(--bg-color);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0 6px rgba(228, 37, 37, 0.6);
}
.cta button:hover {
  background-color: transparent;
  color: var(--unique-text-color);
  border: 1px solid var(--unique-text-color);
  font-weight: 700;
  font-size: 18px;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 2px;
}
.social-icons i {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--secondary-text-color);
  font-size: 17px;
  margin: 0 10px;
  transition: all 0.3s ease;
}
.social-icons i:hover {
  color: var(--unique-text-color);
  font-size: 25px;
  font-weight: 700;
  background-color: transparent;
}
/* End Header Style */
/* ===== Responsive ===== */

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .container {
    width: 100%;
    text-align: center;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    text-align: justify;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
    text-align: justify;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    text-align: justify;
  }
}
